/* Grundlegende Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter-Regular", Helvetica, sans-serif;
    background-color: #333; /* Dunkler Hintergrund für das gesamte Design */
    color: #fff; /* Weiße Textfarbe für besseren Kontrast */
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentrieren der Inhalte */
}

nav {
    width: 100%;
    background-color: #000; /* Dunkle Navigationsleiste */
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#weatherBlock {
    width: 100%;
    background-color: #222; /* Dunkler Hintergrund für Wetterblock */
    padding: 20px;
    text-align: center;
}

#cocktailBlock {
    width: 100%;
    background-color: #222; /* Dunkler Hintergrund für Cocktailblock */
    padding: 20px;
    text-align: center;

}


#cocktailTitleContainer, #cocktailRecipeContainer {
    width: 30%; /* Konsistente Breite für beide Container */
    padding: 20px;
    text-align: center;
    margin-top: 1rem;
    margin-left: 105%; /* Schiebt die Elemente weiter nach rechts */
    transform: translateX(-75%); /* Verschiebt nach links, um die Mitte zu zentrieren */
}

#cocktailTitle {
    font-size: 2em;
    font-weight: bold;
    margin: 0; /* Entfernt zusätzliche Abstände */
    text-align: center; /* Zentriert die Schrift im Titel */
}

#cocktailRecipe {
    font-size: 1.2em; /* Passe die Schriftgröße für das Rezept an */
    margin: 0;
    text-align: center; /* Zentriert die Schrift im Rezept */
}



#weatherContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #222; /* Dunkler Hintergrund */
    padding: 20px;
    align-items: center;
}

.weather-column {
    position: relative;
    display: flex; /* Verwende flexibles Layout */
    flex-direction: column; /* Stapelt die Elemente vertikal */
    justify-content: center; /* Zentriert vertikal innerhalb der Spalte */
    align-items: center; /* Zentriert horizontal innerhalb der Spalte */
    flex: 1; /* Jede Spalte nimmt den gleichen Raum ein */
    margin: 10px;
    text-align: center;
}

#weatherIconContainer img {
    width: 160px;
    height: 160px;
    margin: auto;
}


h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}


h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5px;
}




.city-select-label {
    font-size: 1.5rem; /* Beispielhafte Schriftgröße */
    font-weight: normal; /* Macht den Text fett */
    color: #ffffff; /* Ändern Sie dies nach Bedarf */
    margin-bottom: 10px; /* Abstand nach unten */
}



/* Stil für das Dropdown-Menü */
#citySelect {
    width: 200px; /* Setzt die Breite des Dropdowns */
    padding: 8px; /* Innenabstand für mehr Klickfläche */
    font-size: 16px; /* Schriftgröße des Textes */
    background-color: #333; /* Hintergrundfarbe */
    color: #ffffff; /* Schriftfarbe */
    border: 2px solid #555; /* Rahmenfarbe und -stärke */
    border-radius: 4px; /* Runde Ecken */
    margin: 10px auto; /* Zentriert das Dropdown-Menü horizontal */
    display: block; /* Stellt sicher, dass es sich als Block-Element verhält */
}

/* Stil für die Dropdown-Pfeile (optional) */
#citySelect::after {
    content: "▼"; /* Ersetzt den Standardpfeil */
    color: #ffffff; /* Farbe des Pfeils */
    padding-left: 10px;
}



/* Stil für einzelne Optionen im Dropdown-Menü */
#citySelect option {
    background-color: #444; /* Hintergrundfarbe für die Optionen */
    color: #ffffff; /* Textfarbe der Optionen */
    padding: 5px; /* Abstand in den Optionen */
}


#Empfehlungssatz {
    padding: 2rem;
    text-align: center;
    background-color: #86751d;
    width: 100%;
}