/* Stil für die "Über uns" Seite */
#teamContainer {
    width: 80%;
    background-color: #222; /* Dunkler Hintergrund */
    padding: 20px;
    margin: 2rem auto; /* Abstand nach oben und unten, zentriert */
    text-align: center;
    border-radius: 10px; /* Abgerundete Ecken */
    color: lightgray; /* Textfarbe */
}

.team-member {
    margin-bottom: 2rem; /* Abstand zwischen Teammitgliedern */
    padding: 10px;
    border: 1px solid #555; /* Rahmenfarbe */
    border-radius: 10px; /* Abgerundete Ecken */
    background-color: #333; /* Hintergrundfarbe für Teammitglieder */
}

.team-photo {
    width: 150px; /* Breite des Profilbilds */
    height: 150px; /* Höhe des Profilbilds */
    border-radius: 50%; /* Runde Profilbilder */
    margin-bottom: 1rem; /* Abstand unter dem Profilbild */
}

.team-member h3 {
    font-size: 1.5rem; /* Schriftgröße für Namen */
    margin-bottom: 0.5rem; /* Abstand unter dem Namen */
}

.team-member p {
    font-size: 1rem; /* Schriftgröße für Beschreibung */
    margin-bottom: 0.5rem; /* Abstand unter der Beschreibung */
}
